@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('/fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('/fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  /* font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.42;  */
    /* сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal 16px/1.42 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  background: #29292c;
  /* background: url(../images/bg/lion-header.jpg) no-repeat top center #29292c; */
}

a {
  color: inherit; /*будет наследоваться от родительского блока*/
}

ul {
  padding: 0;
  margin: 0;
 }

 ul li {
   list-style: none;
 }

 h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-weight: normal;
 }

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 137px;
}

.header .logo { /*тут не нужен селектор хэдэра*/
  display: block; /*т.к. в ссылке лежит блочный элемент img*/
  position: absolute;
  top: 27px;
  left: 0;
}

.header .menu { /*тут не нужен селектор хэдэра*/
  position: absolute;
  top: 31px;
  left: 263px;
}

.menu__item { 
  display: inline-block;
  vertical-align: middle;
  margin-right: 53px;
}

.menu__item_active .menu__link {
  color: #dfb56d;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #dfb56d;
}

.header .contacts { /*тут не нужен селектор хэдэра*/
  font-style: normal;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 0;  
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 6px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #dfb56d;
  line-height: 1em; /*стоит добавлять для PP или нет?*/
  letter-spacing: 0.04em; /*стоит добавлять для PP или нет?*/
}

.hero__text-section {
  width: 400px;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 21px;
}

.hero__subtitle {
  font-size: 18px;
  color: #dfb56d;
  margin-bottom: 44px;
  letter-spacing: -0.02em; /*стоит добавлять для PP или нет?*/
}

.button {
  display: inline-block;
  background: #dfb56d;
  font-size: 14px;
  border-radius: 4px;
  padding: 17px 39px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background: #d3a556;
  /*<сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>*/
  box-shadow: 0 0 25px 0 rgba(223, 181, 108, .15);
}
