@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('/fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('/fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  /* font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.42;  */
  /* сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal 16px/1.42 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  background: #29292c;
}

a {
  color: inherit;
  /*будет наследоваться от родительского блока*/
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*меняет алгоритм расчета ширины и высоты элемента, теперь включает поля и границы, но не отступы*/
}

.wrapper {
  overflow: hidden;
  min-width: 1180px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-page-wrapper {
  background: url(../images/bg/lion-header.jpg) center top no-repeat, url(../images/bg/bottom-pic.png) right bottom 307px no-repeat;
}

.wrapper__content {
  flex: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 145px;
}

.logo {
  display: block;
  /*т.к. в ссылке лежит блочный элемент img*/
  position: absolute;
  top: 35px;
  left: 0;
}

.menu {
  position: absolute;
  top: 39px;
  left: 262px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 53px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active .menu__link {
  color: #dfb56d;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #dfb56d;
}

.contacts {
  font-style: normal;
  text-align: right;
  position: absolute;
  top: 22px;
  right: 0;
}

.contacts__desc {
  color: #999999;
  font-size: 11px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 6px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #dfb56d;
  line-height: 1em;
  /*добавила для PP*/
  letter-spacing: 0.04em;
  /*добавила для PP*/
}

.hero {
  margin-bottom: 168px;
}

.hero__content {
  width: 400px;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 21px;
}

.hero__subtitle {
  font-size: 18px;
  color: #dfb56d;
  margin-bottom: 44px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  padding: 17px 39px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn_color_ginger {
  background: #dfb56d;
}

.btn_color_ginger:hover {
  background: #d3a556;
  /*<сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>*/
  box-shadow: 0 0 25px 0 rgba(223, 181, 108, .15);
}

.btn_color_black {
  background: #202123;
}

.btn_color_black:hover {
  background: #dfb56d;
}

.section {
  margin-bottom: 125px;
}

.section__mb_big {
  margin-bottom: 149px;
}

.section__mb_small {
  margin-bottom: 110px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 48px;
}

.offers__item {
  min-height: 470px;
  border-radius: 4px;
  background: #fff;
  display: inline-block;
  margin-right: 22px;
  /*чтобы вмещались в контейнер*/
  width: 362px;
  color: #010001;
  overflow: hidden;
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, .2);
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 162px;
  position: relative;
}

.offers__header:before {
  content: "";
  width: 284px;
  height: 284px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -122px;
  right: -91px;
  background: #ccc;
}

.offers__item_theme_grey .offers__header:before {
  background: #a5a5a4;
}

.offers__item_theme_blue .offers__header:before {
  background: #556180;
}

.offers__item_theme_gold .offers__header:before {
  background: #978455;
}

.offers__header-img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  /*это корректно? почему так получилось?*/
  margin-top: -32px;
}

.offers__content {
  padding: 36px 30px;
  padding-top: 25px;
}

.offers__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

.offers__prices-cell {
  display: inline-block;
  vertical-align: top;
  width: 137px;
  margin-right: 8px;
}

.offers__prices-cell:last-child {
  margin-right: 0;
}

.offers__price {
  font-size: 36px;
}

.offers__price-range {
  font-size: 30px;
}

.offers__price-desc {
  color: #333;
  line-height: 21px;
  /*добавила для PP*/
}

.offers__prices {
  margin-bottom: 50px;
}

.offers__btn-wrapper {
  text-align: center;
}

.news {
  margin-bottom: 52px;
}

.news__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 25px;
  /*не было в видео*/
}

.news__item:last-child {
  /*не было в видео*/
  margin-right: 0;
}

.news__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*обрезает содержимое, выравнивая по центру и сохраняя пропорции*/
  opacity: .4;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 14px;
  display: block;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.news__desc {
  /* не было в видео*/
  max-width: 444px;
  /*для PP*/
  min-height: 44px;
  /*для PP*/
}

.paginator {
  text-align: center;
}

.paginator__display,
.paginator__list,
.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__item_active .paginator__link {
  background: #353538;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  /*чтобы размещались по центру блока*/
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
}

.paginator__link:hover {
  background: #353538;
}

.about:before,
.about__desc {
  display: inline-block;
  vertical-align: top;
}

.about:before {
  content: "";
  width: 488px;
  height: 502px;
  background: url("../images/decor/chess-layout.jpg") no-repeat center center / cover;
  border-radius: 4px;
}

.about__desc {
  background: #202123;
  padding: 68px 98px;
  width: 780px;
  margin-left: -133px;
  margin-top: 107px;
  border-radius: 4px;
  min-height: 454px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about__desc-text {
  margin-bottom: 40px;
  line-height: 27px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  /*т.к. есть отступ от всей секции*/
  margin-bottom: 0;
}

.footer-container__content {
  border-top: 1px solid #353538;
}

.footer {
  height: 128px;
  /*добавили mt, поэтому уменьшили эту высоту, чтобы общая высота сохранилась*/
  position: relative;
  margin-top: 21px;
}

.socials {
  position: absolute;
  top: 32px;
  right: 264px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__icon {
  opacity: .4;
}

.socials__icon:hover {
  opacity: 1;
}