.about {
  display: flex;
}

.about:before {
  content: "";
  width: 488px;
  height: 502px;
  background: url(../../images/decor/chess.jpg) no-repeat right center / cover;
  border-radius: 4px;
  display: block;
}

.about__desc {
  background: #202123;
  padding: 68px 98px;
  max-width: 780px;
  margin-left: -129px;
  margin-top: 107px;
  border-radius: 4px;
  min-height: 454px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about__desc-text {
  margin-bottom: 40px;
  line-height: 27px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  /*т.к. есть отступ от всей секции*/
  margin-bottom: 0;
}