.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item_active .breadcrumbs__link  {
  font-weight: bold;
}

.breadcrumbs__item:after {
  content: "/";
  color: #999;
  margin-left: 3px;
  margin-right: 3px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: #999;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #999;
  transition: border-bottom .3s;
}

.breadcrumbs__item:hover .breadcrumbs__link {
  border-bottom: 1px solid transparent;
}
