.footer-container {
  margin-top: auto;
  background: #29292c;
}

.footer {
  height: 123px;
  position: relative;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col_align_right {
  justify-content: flex-end;
}