.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator_theme_light {
  color: #202123;
}

.paginator_theme_light .paginator__item_active .paginator__link,
.paginator_theme_light .paginator__link:hover {
  color: #fff;
  background: #353538;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__item {
  text-align: center;
}

.paginator__item_active .paginator__link {
  background: #353538;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 2;  /*чтобы размещались по центру блока*/
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}

.paginator__link:hover {
  background: #353538;
}