.review {
  max-width: 555px;
  background: #f4f5f5;
  border-radius: 4px;
  padding: 40px 30px;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review__user {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #202123;
  margin-right: 5px;
}

.review__user:hover {
  color: #4d76a1;
  text-decoration: underline;
  transition: .3s;
}

.review__tags {
  display: flex;
}

.review__item {
  margin-right: 10px;
}

.review__title {
  font-size: 30px;
  font-weight: bold;
  color: #202123;
  margin-bottom: 20px;
}

.review__desc {
  margin-bottom: 50px;
}

.review__date {
  font-size: 14px;
  color: #202123;
}