.service {
  display: flex;
  padding: 58px 29px 54px;
  text-decoration: none;
  transition: .3s;
}

.service:hover {
  background: #f4f5f5;
}

.service:hover .service__btn {
  background: #dfb56d;
}

.service__img {
  width: 42.5%;
  margin-right: 65px;
  border-radius: 4px;
  overflow: hidden;
  max-height: 310px;
}

.service__text-content {
  flex: 1;
}

.service__title {
  color: #202123;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
  max-width: 480px; /*для PP первого тайтла, второй не ложится*/
  line-height: 37px;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 32px;
}

.service__desc p {
  margin-bottom: 20px;
}
.service__desc p:last-child {
  margin-bottom: 0;
}

.service__btn {
  transition: .3s;
}
