.single-news {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.single-news__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*обрезает содержимое, выравнивая по центру и сохраняя пропорции*/
  opacity: .4;
}

.single-news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 14px;
  display: block;
}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.single-news__desc {
  /* не было в видео*/
  max-width: 444px;
  /*для PP*/
  min-height: 44px;
  /*для PP*/
}