.socials {
  position: absolute;
  top: 32px;
  right: 264px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__icon {
  opacity: .4;
}

.socials__icon:hover {
  opacity: 1;
}